/.project
/.pydevproject
/.idea
/.settings
/doc/build
*.pyc
*reports/
*application_generated_data_files/
*build/
*dist/
*egg-info/
MANIFEST

old_stuff/

# exclude data files
*.txt
!LICENSE.txt
*.csv
*.npy